<table>
  <tbody>
    <tr>
      <th>Leaflet js url</th>
      <td>
        <input type="text" id="settings_leaflet_url_js" value="<%= settings['leaflet_url_js'] %>" name="settings[leaflet_url_js]" >
      </td>
    </tr>
    <tr>
      <th>Leaflet css url</th>
      <td>
        <input type="text" id="settings_leaflet_url_css" value="<%= settings['leaflet_url_css'] %>" name="settings[leaflet_url_css]" >
      </td>
    </tr>
    <tr>
      <th>Leaflet tile url</th>
      <td>
        <input type="text" id="settings_leaflet_url_tile" value="<%= settings['leaflet_url_tile'] %>" name="settings[leaflet_url_tile]" >
      </td>
    </tr>
  </tbody>
</table>
